# Questions

- [ ] What is the better day to post?

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import datetime

plt.rcParams["figure.figsize"] = (10, 10)

pd.set_option('display.max_colwidth', None)

df = pd.read_csv('medium-data-2021.csv')


df.shape
#df.head()

(47663, 11)

# Preparing data

## Find url duplicateds values and drop it

If it has the same URL, it is the same article.

In [3]:
print(f' We have {df.url.duplicated().sum()} duplicated values in url colum')
df[df.url.duplicated(keep=False)]

 We have 1 duplicated values in url colum

,Unnamed: 0,url,title,author,author_page,subtitle,claps,responses,reading_time,tag,date
24529,27554,https://medium.com/@veronikabelokhvostova/im-a-data-scientist-here-s-why-i-work-at-facebook-a1fdb42fc8c4,"<strong class=""markup--strong markup--h3-strong""><em class=""markup--em markup--h3-em"">I’m a Data Scientist — Here’s why I work at Facebook</em></strong>",veronikabelokhvostova,https://medium.com/@veronikabelokhvostova,NaN,591.0,0,7,Data Science,2021-10-07
25596,28976,https://medium.com/@veronikabelokhvostova/im-a-data-scientist-here-s-why-i-work-at-facebook-a1fdb42fc8c4,Facebook destroyed my family andmy mother and grandfather.,lexahe3185,https://medium.com/@lexahe3185,NaN,0.0,0,0,Data Science,2021-10-12

In [4]:
#  analysed the values and conclude that the correct duplicated values 
#is aways the first! So let's keep it.

df = df.drop_duplicates(subset=['url'], keep='first')
print(f' We have {df.url.duplicated().sum()} duplicated values in url column')
df.shape

 We have 0 duplicated values in url column

(47662, 11)

## Modeling Data

### Data understanding

In [5]:
df.date.isna().sum()

2

In [6]:
df = df[df['date'].notna()]
df.date.isna().sum()

0

### labeling the data

As you can see, it has some confusing character, so we need to normalize the data.

In [7]:
def get_week_day(date):
    date = str(date)
    year, month, day = (int(x) for x in date.split('-'))    
    
    return datetime.date(year, month, day).weekday()
  

df['weekday'] = df.date.apply(get_week_day)

## Get data insights

In [8]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [11]:
# claps_count = {}
for weekday, clap in zip(df.weekday, df.claps):
    if weekday in claps_count.keys():
        claps_count[weekday]['total_claps'] += clap
        claps_count[weekday]['count'] += 1
    else:        
        claps_count[weekday] = {
            'total_claps' : clap,
            'count': 1
        }

claps_count

{4: {'total_claps': 359013.0, 'count': 7581},
 5: {'total_claps': 222734.0, 'count': 4630},
 6: {'total_claps': 196899.0, 'count': 4624},
 0: {'total_claps': 354164.0, 'count': 7647},
 1: {'total_claps': 385568.0, 'count': 8008},
 2: {'total_claps': 408845.0, 'count': 8223},
 3: {'total_claps': 322122.0, 'count': 6947}}

In [19]:
for x in claps_count.values():
    x['clap_mean'] = x['total_claps']/ x['count']
    
claps_count

{4: {'total_claps': 359013.0, 'count': 7581, 'clap_mean': 47.35694499406411},
 5: {'total_claps': 222734.0, 'count': 4630, 'clap_mean': 48.10669546436285},
 6: {'total_claps': 196899.0, 'count': 4624, 'clap_mean': 42.58196366782007},
 0: {'total_claps': 354164.0, 'count': 7647, 'clap_mean': 46.314110108539296},
 1: {'total_claps': 385568.0, 'count': 8008, 'clap_mean': 48.14785214785215},
 2: {'total_claps': 408845.0, 'count': 8223, 'clap_mean': 49.71968867809802},
 3: {'total_claps': 322122.0, 'count': 6947, 'clap_mean': 46.36850439038434}}